USE [master]
GO
/****** Object:  Database [QLBH]    Script Date: 11/18/2022 6:27:54 PM ******/
CREATE DATABASE [QLBH]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'QLBH', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\QLBH.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'QLBH_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\QLBH_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [QLBH].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [QLBH]
GO
/****** Object:  Table [dbo].[CTHD]    Script Date: 11/18/2022 6:27:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CTHD](
	[MaHoaDon] [char](10) NOT NULL,
	[MaMonAn] [char](10) NOT NULL,
	[DonGia] [int] NULL,
	[SoLuong] [int] NULL,
 CONSTRAINT [CTHD_pk] PRIMARY KEY CLUSTERED 
(
	[MaHoaDon] ASC,
	[MaMonAn] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HoaDon]    Script Date: 11/18/2022 6:27:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HoaDon](
	[MaHoaDon] [char](10) NOT NULL,
	[MaNV] [char](10) NULL,
	[NgayHoaDon] [date] NULL,
	[ThanhTien] [int] NULL,
 CONSTRAINT [HD_MHD_PK] PRIMARY KEY CLUSTERED 
(
	[MaHoaDon] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LoaiMonAn]    Script Date: 11/18/2022 6:27:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LoaiMonAn](
	[MaLoaiMonAn] [char](10) NOT NULL,
	[TenLoaiMonAn] [nvarchar](50) NULL,
 CONSTRAINT [LMA_MALMA_PK] PRIMARY KEY CLUSTERED 
(
	[MaLoaiMonAn] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MonAn]    Script Date: 11/18/2022 6:27:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MonAn](
	[MaMonAn] [char](10) NOT NULL,
	[TenMonAn] [nvarchar](100) NULL,
	[MaLoaiMonAn] [char](10) NULL,
 CONSTRAINT [MonAn_MMA_PK] PRIMARY KEY CLUSTERED 
(
	[MaMonAn] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NV]    Script Date: 11/18/2022 6:27:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NV](
	[MaNV] [char](10) NOT NULL,
	[HoTen] [nvarchar](50) NULL,
	[NamSinh] [date] NULL,
	[DiaChi] [nvarchar](100) NULL,
	[SDT] [nvarchar](15) NULL,
 CONSTRAINT [NV_MNV_PK] PRIMARY KEY CLUSTERED 
(
	[MaNV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TaiKhoan]    Script Date: 11/18/2022 6:27:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TaiKhoan](
	[TenTaiKhoan] [nvarchar](50) NOT NULL,
	[MatKhau] [varchar](50) NOT NULL,
	[VaiTro] [int] NOT NULL,
	[MaNV] [char](10) NOT NULL,
 CONSTRAINT [PK_TaiKhoan] PRIMARY KEY CLUSTERED 
(
	[MaNV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[CTHD] ([MaHoaDon], [MaMonAn], [DonGia], [SoLuong]) VALUES (N'H01       ', N'1         ', 10000, 10)
GO
INSERT [dbo].[CTHD] ([MaHoaDon], [MaMonAn], [DonGia], [SoLuong]) VALUES (N'H01       ', N'2         ', 20000, 10)
GO
INSERT [dbo].[CTHD] ([MaHoaDon], [MaMonAn], [DonGia], [SoLuong]) VALUES (N'H01       ', N'3         ', 10000, 10)
GO
INSERT [dbo].[HoaDon] ([MaHoaDon], [MaNV], [NgayHoaDon], [ThanhTien]) VALUES (N'H01       ', N'N01       ', CAST(N'2022-11-17' AS Date), 0)
GO
INSERT [dbo].[LoaiMonAn] ([MaLoaiMonAn], [TenLoaiMonAn]) VALUES (N'D01       ', N'Nước uống')
GO
INSERT [dbo].[LoaiMonAn] ([MaLoaiMonAn], [TenLoaiMonAn]) VALUES (N'D02       ', N'Tráng miệng')
GO
INSERT [dbo].[LoaiMonAn] ([MaLoaiMonAn], [TenLoaiMonAn]) VALUES (N'M01       ', N'Món chính')
GO
INSERT [dbo].[MonAn] ([MaMonAn], [TenMonAn], [MaLoaiMonAn]) VALUES (N'1         ', N'Bánh mì', N'M01       ')
GO
INSERT [dbo].[MonAn] ([MaMonAn], [TenMonAn], [MaLoaiMonAn]) VALUES (N'2         ', N'Cơm sườn', N'M01       ')
GO
INSERT [dbo].[MonAn] ([MaMonAn], [TenMonAn], [MaLoaiMonAn]) VALUES (N'3         ', N'Nước suối', N'D01       ')
GO
INSERT [dbo].[NV] ([MaNV], [HoTen], [NamSinh], [DiaChi], [SDT]) VALUES (N'N01       ', N'Nguyễn Văn A', CAST(N'2000-02-01' AS Date), N'TPHCM', N'821031245')
GO
INSERT [dbo].[NV] ([MaNV], [HoTen], [NamSinh], [DiaChi], [SDT]) VALUES (N'N02       ', N'Nguyễn Văn B', CAST(N'2002-05-07' AS Date), N'Hà Nội', N'721030945')
GO
INSERT [dbo].[NV] ([MaNV], [HoTen], [NamSinh], [DiaChi], [SDT]) VALUES (N'N03       ', N'Nguyễn Văn C', CAST(N'2001-03-05' AS Date), N'Vĩnh Long', N'921031245')
GO
INSERT [dbo].[TaiKhoan] ([TenTaiKhoan], [MatKhau], [VaiTro], [MaNV]) VALUES (N'h', N'1', 0, N'N01       ')
GO
ALTER TABLE [dbo].[CTHD]  WITH CHECK ADD  CONSTRAINT [CTDH_MHD_FK] FOREIGN KEY([MaHoaDon])
REFERENCES [dbo].[HoaDon] ([MaHoaDon])
GO
ALTER TABLE [dbo].[CTHD] CHECK CONSTRAINT [CTDH_MHD_FK]
GO
ALTER TABLE [dbo].[CTHD]  WITH CHECK ADD  CONSTRAINT [CTDH_MMA_FK] FOREIGN KEY([MaMonAn])
REFERENCES [dbo].[MonAn] ([MaMonAn])
GO
ALTER TABLE [dbo].[CTHD] CHECK CONSTRAINT [CTDH_MMA_FK]
GO
ALTER TABLE [dbo].[HoaDon]  WITH CHECK ADD  CONSTRAINT [HD_MHD_FK] FOREIGN KEY([MaNV])
REFERENCES [dbo].[NV] ([MaNV])
GO
ALTER TABLE [dbo].[HoaDon] CHECK CONSTRAINT [HD_MHD_FK]
GO
ALTER TABLE [dbo].[MonAn]  WITH CHECK ADD  CONSTRAINT [MA_MLMA_FK] FOREIGN KEY([MaLoaiMonAn])
REFERENCES [dbo].[LoaiMonAn] ([MaLoaiMonAn])
GO
ALTER TABLE [dbo].[MonAn] CHECK CONSTRAINT [MA_MLMA_FK]
GO
ALTER TABLE [dbo].[TaiKhoan]  WITH CHECK ADD  CONSTRAINT [FK_TaiKhoan_NV] FOREIGN KEY([MaNV])
REFERENCES [dbo].[NV] ([MaNV])
GO
ALTER TABLE [dbo].[TaiKhoan] CHECK CONSTRAINT [FK_TaiKhoan_NV]
GO
USE [master]
GO
